.react-members-list li {
  display: flex;
  max-width: 20em;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #747474;
  padding: 0.3em;
}

.react-members {
  border-spacing: 0;
  border: 0.15em solid #747474;
  max-width: 65em;
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    padding: 0.4em;
    border-bottom: 0.05em solid #747474;
    border-right: 0.11em solid #747474;
  }
  th {
    border-top: 0.15em solid #747474;
    text-align: center;
  }
  .inner-container-table-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.copyButton {
  cursor: pointer;
  margin-left: 0.2em;
  padding: 0.2em;
  background-color: #6bb2ff;
  border-radius: 0.2em;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  &:active {
    background-color: #2990ff;
  }
}

.tech {
  margin-left: 2rem;

  li {
    list-style: circle;
  }
}
