.react-members-list li {
  display: flex;
  max-width: 20em;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #747474;
  padding: 0.3em;
}

.members-table {
  display: flex;
  max-width: 60em;
  width: 100%;
  flex-direction: row;
}

.members-table__column {
  border: 0.15em solid #747474;
  border-right: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.members-table__column:last-child {
  border-right: 0.15em solid #747474;
}

.members-table__cell {
  padding: 0.3em;
  display: flex;
  flex: 1 1 auto;
}

.members-table__column .members-table__cell {
  border-bottom: 0.1em solid #747474;
}

.members-table__column .members-table__cell:first-child {
  border-top: 0;
}

.members-table__column .members-table__cell:last-child {
  border-bottom: 0;
}

.members-table__header-cell {
  justify-content: center;
}