.react-members-list li {
  display: flex;
  max-width: 20em;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #747474;
  padding: 0.3em;
}

.react-members {
  border-spacing: 0;
  border: 0.15em solid #747474;
  max-width: 60em;
  width: 100%;
  border-collapse: collapse;
  td, th {
    padding: 0.4em;
    border-bottom: 0.05em solid #747474;
    border-right: 0.11em solid #747474;
  }
  th {
    border-top: 0.15em solid #747474;
  }
}
