.hat {
  background-image: url(img/header_hat.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.hat__h1 {
  color: #fff;
  margin: 20px;
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 3px 0px black;
}
.hat {
  transition: background-size 0.5s cubic-bezier(0.37, 0.81, 0.69, 0.99);
  -webkit-transition: background-size 0.5s cubic-bezier(0.37, 0.81, 0.69, 0.99);
  -moz-transition: background-size 0.5s cubic-bezier(0.37, 0.81, 0.69, 0.99);
  -ms-transition: background-size 0.5s cubic-bezier(0.37, 0.81, 0.69, 0.99);
  -o-transition: background-size 0.5s cubic-bezier(0.37, 0.81, 0.69, 0.99);
}

@media (max-width: 640px) {
  .hat {
    background-size: 150%;
  }
}

@media (max-width: 400px) {
  .hat {
    background-size: 250%;
  }
}
