header {
  border-bottom: 2px solid #808080;
  min-height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

main {
  padding: 1em 0.5em;
}

.vanille-ul {
  margin-left: 1.2em;
  li {
    list-style-type: disc;
  }
}

.indented-list {
  margin-left: 1.2em;
  li {
    margin: 0.2em 0;
  }
}

.react-members-list li {
  display: flex;
  max-width: 20em;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #747474;
  padding: 0.3em;
}
