$main-font-stack: Arial, Helvetica, sans-serif;
$main-font-size: 18px;

$links-color: #204BA0;
$links-disable-color: #747474;
$links-hover-color: #204BA0;
$links-visited-color: #204BA0;
$links-active-color: #204BA0;